# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*$py.class

# =====================================
# Virtual Environment
# =====================================
venv/
env/
ENV/
.venv/

# =====================================
# Environment Variables
# =====================================
.env
.env.local

# =====================================
# IDE
# =====================================
.vscode/
.idea/

# =====================================
# Operating System
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Python Build Files
# =====================================
build/
dist/
*.egg-info/

# =====================================
# Logs
# =====================================
*.log

# =====================================
# Generated Output
# =====================================
outputs/
reports/

# =====================================
# Generated Dataset (Ignore)
# =====================================
data/generated/

# =====================================
# Processed Dataset (Ignore)
# =====================================
data/processed/